---
- name: Change Nginx default port from 80 to 81
  ansible.builtin.replace:
    path: /etc/nginx/nginx.conf
    regexp: 'listen\s+80;'
    replace: 'listen 81;'
  notify:
    - Restart nginx

- name: Ensure firewalld allows port 81 (if firewalld is used)
  ansible.builtin.command: firewall-cmd --permanent --add-port=81/tcp
  ignore_errors: yes

- name: Reload firewall (if applicable)
  ansible.builtin.command: firewall-cmd --reload
  ignore_errors: yes

- name: Restart Nginx service
  ansible.builtin.service:
    name: nginx
    state: restarted

